.settings-box {
	padding-top: 10px;
	padding-bottom: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
}

.settings-links a:first-child {
	float: left;
}
.settings-links a:last-child {
	float: right;
}
.settings-links:after {
	clear: both;
}

label.checkbox {
	width: 70%;
	display: block;
	margin: 0 auto;
}
	label.checkbox input{
		width:14px;
		margin: 4px 0 0;
		padding: 0;
		background: none;
		border: 0;
	}
.footer-text, .footer-text a{
	text-align: center;
}

/* Settings API */
.ctusp_tab_navigation{
	border-bottom: 1px solid #ccc;
}
	.ctusp_tab_navigation-title{
		display: inline-block;
		margin: 10px 0 0 .5em;
		padding: 5px 10px;
		height: 31px;
		border: 1px solid #ccc;
		border-bottom: none;
		font-size: 14px;
		line-height: 24px;
		background: #e5e5e5;
		color: #555;
		cursor: pointer;
	}
		.ctusp_tab_navigation-title--active{
			position: relative;
			top: 1px;
			background: #f1f1f1;
			color: #000;
		}

.ctusp_tab{
	display: none;
	margin: 15px 0;
}
	.ctusp_tab--active {
		display: block;
	}

.ctusp_group{
	position: relative;
	min-width: 255px;
	margin: 10px auto;
	padding: 10px 10px 10px 10px;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fdfdfd;
}
	.ctusp_group-title{
		text-align: left !important;
		margin: 0 0 10px;
		padding: 0 10px 10px 10px;
		border-bottom: 1px solid #eee;
	}

.ctusp_field{
	margin: 0 5px 15px;
}
	.ctusp_field input[type=checkbox]{
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px 3px 0;
	}
	.ctusp_field input[type=text],
	.ctusp_field input[type=password]
	{
		padding: 6px 12px;
		border-radius: 4px;
		border: 1px #999 solid;
	}
		.ctusp_field input[type=text]:focus{
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		}
	.ctusp_field-title{
		margin-bottom: 0;
	}
	.ctusp_field-description{
		font-size: 10pt;
		color: #666;
	}

.ctusp--highlighted{
	outline-offset: 5px;
	outline-color: red;
	outline-width: 3px !important;
	outline-style: solid !important;
}

#ctusp_field---uninstall:disabled{
	background: gray;
	color: #ccc;
}
#ctusp_field---uninstall{
	background: rgba(255,30,30,.8);
	border-radius: 6px;
	border: 0;
	padding: 4px 10px 4px;
}