form.tbl-root{
    margin-top: 10px;
}
    .tbl-bulk_actions--wrapper{
        margin-bottom: 5px;
        margin-top: 5px;
    }
        .tbl-select{
            border-radius: 3px;
            border: 1px solid #ccc;
        }
            .tbl-button{
                display: inline-block;
                line-height: 20px;
                height: 25px;
                margin: 0;
                padding: 0 10px 1px;
                cursor: pointer;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
            .tbl-bulk_actions--apply{}
    table.tbl{
        border-spacing: 0;
        border: 1px solid #ccd0d4;
        width: 100%;
        font-size: 13px;
    }
        thead{
            border: 1px solid #ccd0d4;
        }
            .tbl-head_column{
                vertical-align: middle;
                font-weight: 400;
                text-align: left;
                padding: 8px 10px;
            }
tbody{
    /*border: 1px solid black;*/
}
    tr:nth-child(2n+1){
        background-color: #f9f9f9;
    }
    tbody tr th, tbody tr td{
        text-align: left;
        vertical-align: top;
        padding: 8px 10px;
    }

tfoot{
    border: 1px solid #ccd0d4;
}

[disabled]:hover{cursor: not-allowed;}

.tbl-width--50px{width: 50px;}
.tbl-width--100px{width: 100px;}
.tbl-width--sma{width: 7em;}
.tbl-width--mid{width: 6em;}
.tbl-min_width--big{width: 12em;}

/* Row actions */
tr .row-actions{left: 0;}
.tbl-row_action:hover{cursor: pointer; text-decoration: underline;}
tr .row-actions span{color: gray;}
tr:hover .row-actions span.tbl-row_action{color: #0073aa;}
tr:hover .row-actions span.tbl-row_action--delete{color: #a00;}
tr:hover .row-actions span.tbl-row_action--replace{color: #a00;}
tr:hover .row-actions span.tbl-row_action--approve{color: #0a0;}
/*tr:hover .row-actions span.tbl-row_action--send{color: black;} */
/*tr:hover .row-actions span.tbl-row_action--view{color: blue;} */
/*tr:hover .row-actions span.tbl-row_action--compare{color: orange;} */
.tbl-row_action--hide{color: gray;}

/* Headaings */
.tbl-sorting_indicator{margin-left: 10px; visibility: hidden;}
.tbl-sorting_indicator--sorted{color: rgba(0,0,0,0.6); visibility: visible;}
.tbl-column-sortable:hover{cursor: pointer;}
.tbl-column-sortable:hover .tbl-sorting_indicator{visibility: visible; color: rgba(0,0,0,1); }
.spbc_hint--icon{color: #999;}
.spbc_hint--icon:hover{color: #000;}
.spbc_hint--icon:hover + .spbc_hint--text{display: block; }
.spbc_hint--text{display: none; color: #999;}

.tbl-button{
    display: inline-block;
    line-height: 20px;
    height: 25px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    background: #f7f7f7;
    vertical-align: top;
}

.tbl-select{
    padding: 2px;
    line-height: 20px !important;
    height: 25px !important;
}
.tbl-preloader--small{display: none; width: 15px; height: 15px; margin: 0 5px; vertical-align: middle;}
.tbl-preloader--tiny {display: none; width: 10px; height: 10px; margin: 0 5px;}

.tbl-bulk_actions--wrapper{display: inline-block;}
.tbl-bulk_actions--apply{margin: 0 5px;}


.tbl-pagination--wrapper{display: inline-block; padding: 5px 0; vertical-align: middle;}
.tbl-pagination--total{vertical-align: text-bottom; margin: 0 5px;}
.tbl-pagination--curr_page{width: 36px; padding: 3px 5px; font-size: 13px; text-align: center;}
.tbl-pagination--button{margin: 0 5px;}