 
body{
	background:#FFB573;
	color: #444;
	font-family: 'Lato', sans-serif;

}

.wrapper{}
.wrapper__center{ text-align: center }

.alert{
	margin: 20px auto;
	width: 70%;
}
#setup-block{	 
	padding-top: 50px;
	padding-bottom: 25px;
}
#setup-block h3{
	color: #0771ab;
	text-align: center;
	font-size:1.5em;
	opacity: 0.9;
	font-weight: normal;
 
}
#admin-block {
	padding-top: 60px;
	padding-bottom: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	background: #FF7800;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
}
.setup-box{
	position: relative;
	max-width:480px;	
	background: #FF7800;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	padding-bottom: 20px;
	margin-bottom: 25px;
	margin-top: 80px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.settings-box {
	padding-top: 20px;
	padding-bottom: 25px;
	background: #FF7800;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.setup-logo{
	 text-align: center;
	 padding: 15px 0 10px;
}

.setup-logo img{
	border:0;
	display: inline-block;
}
.setup-form form p{
	width:80%;
	margin: 5px auto 10px;
	text-align: center;
}
 

.setup-box hr{
	margin:10px auto 20px;
	width:70%;
	border-top: 1px solid rgba(0, 0, 0, 0.13);
	border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}
/* page icon */
.page-icon{
	width: 100px;
	height:100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	text-align: center; 
	margin: -60px auto 0;
	
}
.page-icon img{
	vertical-align: middle; 
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	width:auto;
	height:100%;
	position: relative;
	top: 0;
	 
}
.rotate-icon{
	/*-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform: rotate(45deg);*/
	top: 20px !important;
}
.setup-box .page-icon{
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}
/* setup Form */
.setup-form input{
	display: block;
	margin:0 auto 15px;
	width:70%;
	/*background: #F2F8FD;*/
	border:0;
	color:#6c6c6c;
	padding: 8px;
	border-radius:5px;
	text-align: center;
	box-shadow: 0 0 0.5px rgba(0,0,0,0.5);

	
}

.setup-form input.loading {
    background-image: url("/uniforce/img/preloader.gif");
    background-size: 15px 15px;
    background-position:right 5% bottom 50%;
    background-repeat: no-repeat;
}
/* setup Button */
.btn.btn-setup {
	width: 120px;
	display:block;
	margin: 20px auto 20px;
	color: #045760;
	text-transform:uppercase ;	 
	background: #1c8ac8;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	
}

.btn.btn-setup:hover {	 
	border:1px solid #1c8ac8;
	opacity: 0.8;
} 
.btn.btn-reset{
	width: 180px;
}
.setup-links{
	text-align: center;
}
.setup-links a{
	color: #444; 
	display:inline-block;
	padding:5px;
	text-decoration: underline;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.setup-links a:hover{
	 opacity: 0.75;
	 text-decoration: none;
}
.settings-links a:first-child {
	float: left;
}
.settings-links a:last-child {
	float: right;
}
.settings-links:after {
	clear: both;
}

label.checkbox {
	width: 70%;
	display: block;
	margin: 0 auto;
}
label.checkbox input{
	width:14px;
	margin: 4px 0 0;
	padding: 0;
	background: none;
	border: 0;
}
.footer-text, .footer-text a{
	text-align: center;
	color:#FFF;
	color: #333;
	opacity: 1; 
}

.preloader{
    width: 20px;
    margin-left: 5px;
    vertical-align: text-top;
    display: inline;
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	#setup-block{	 
		padding-top: 10px;
		padding-bottom: 25px;
	}
	
}

/* Tablet Portrait Size to Tablet Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px){
	#setup-block {	 
		margin: 0 auto;
		width: 420px;
	}
	
}


